html, body {
    height: 100%;
}

body {
    background-image: radial-gradient(circle at center, #FFFFFF,#EEEEEE, #E5E5E5);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}